@media all {

body {
	color: black;
	background-color: white;
	font-family: serif;
}

a:link {
	color: #36c;
	background-color: inherit;
}
a:visited {
	color: #F96;
	background-color: inherit;
}
a:hover {
	color: #6c3;
	background-color: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
}

p {
	text-indent: 1.5em;
	margin-top: 1em;
}

dt {
	font-weight: bold;
}

li {
	font-family: sans-serif;
}

img {
	border: 0;
}

#header-fixed {
	color: white;
	background-color: #36c;
/* 	border-bottom: 2px dotted #fff; */
	margin: 0 -8px 0;
	padding: 6px 0 2px;
	text-align: center;
	position: fixed;
	top: 0px;
	width: 100%;
	height:6.5em;
	z-index: 1;
}

#header-relative {
	color: white;
	background-color: #36c;
/* 	border-bottom: 2px dotted #fff; */
	padding: 0.5em 0 0.25em;
	text-align: center;
	position: relative;
	top: 0px;
	width: 100%;
}

#content {
	color: black;
	background-color: white;
	position: relative;
	font-family: serif;
	text-align: justify;
	padding: 1em 1em;
}

#footer-fixed {
	color: #FFF;
	background-color: #36c;
	margin: 0 -8px -8px;
	font-family: sans-serif;
	padding-top: 2px;
	text-align: right;
/* 	border-top: 2px dotted #fff; */
	position: fixed;
	bottom: 5px;
	width: 100%;
}

#footer-relative {
	color: white;
	background-color: #36c;
/* 	border-top: 2px dotted #fff; */
	font-family: sans-serif;
	padding-top: 2px;
	text-align: right;
	position: relative;
	width: 100%;
	bottom: 0;
}

#journal {
	margin: 0;
	padding: 0;
}

#journal a {
	border: thin dotted white;
	text-decoration: none;
	font-size: 150%;
	padding: 0 0.25em;
}
#journal a:link {
	color: white;
	background-color: #36c;
}
#journal a:hover {
/* 	border-color: #6c3; */
	color: white;
	background-color: #6c3;
}
#journal a:visited {
	color: white;
	background-color: #F96;
/* 	border-color: #F96; */
}

#menu {
}

#menu a {
	color: white;
	background-color: inherit;
	border: thin dotted white;
	text-decoration: none;
	padding: 0 0.25em;
}
#menu a:visited {
	color: white;
	background-color: #F96;
/* 	border-color: #F96; */
}
#menu a:hover {
	color: white;
	background-color: #6c3;
/* 	border-color: #6c3; */
/* 	cursor: pointer; */
}

#menu ul {
	padding: 0 0.5em;
	margin: 0.5em 0;
}

#menu li {
	display: inline;
/*	color: white;
	background-color: #36c;
	margin: 0;*/
}

#themed {
	font-weight: bold;
}

#unthemed {
	/*display: none;*/
}

#login p {
	text-indent: 0;
}

#content_title {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: solid thin;
}

#mtime {
	margin: 1em;
	border-top: dotted thin;
	font-family: sans-serif;
	font-style: italic;
	font-size: 85%;
}

#copyright a {
	color: white;
	background-color: inherit;
}

#copyright p {
	float: left;
	margin: 0;
	padding: 2px 4px;
	text-indent: 0;
}

#icons {
}

#icons ul {
	margin: 0;
	padding: 4px;
	list-style-type: none;
}

#icons ul li {
	display: inline;
}


.note {
	font-style: italic;
	font-size: 80%;
}

.noindent {
	text-indent: 0;
}

}

@media print {

#page-title {
	text-align: left;
}

#menu {
	display: none;
}

#icons {
	display: none;
}

.category {
	page-break-after: auto;
}

}
