@media all {

body {
	color: black;
	background-color: white;
	font-family: serif;
}

a:link {
	color: #36c;
	background-color: inherit;
}
a:visited {
	color: #F96;
	background-color: inherit;
}
a:hover {
	color: #6c3;
	background-color: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
}

p {
	text-indent: 1.5em;
	margin-top: 1em;
}

ol, ul, dl {
	font-family: sans-serif;
}

dt {
	font-weight: bold;
}

img {
	border: 0;
}

#dump {
	padding: 1em;
}

#header {
	color: white;
	background-color: #36c;
 	border-bottom: thin dashed white;
	padding: 0.5em 0 0.25em;
	text-align: center;
	position: relative;
	top: 0px;
	width: 100%;
}

#content {
	color: black;
	background-color: white;
	position: relative;
	font-family: serif;
	text-align: justify;
	padding: 0em 1em;
}

#footer {
	color: white;
	background-color: #36c;
 	border-top: thin dashed white;
	font-family: sans-serif;
	padding-top: 2px;
	text-align: right;
	position: relative;
	width: 100%;
	bottom: 0;
}

#journal {
	margin: 0;
	padding: 0;
}

#journal a {
	border: thin dotted white;
	text-decoration: none;
	font-size: 150%;
	padding: 0 0.25em;
}
#journal a:link {
	color: white;
	background-color: #36c;
}
#journal a:hover {
	color: white;
	background-color: #6c3;
}
#journal a:visited {
	color: white;
	background-color: #F96;
}

#menu {
}

#menu a {
	color: white;
	background-color: inherit;
	border: thin dotted white;
	text-decoration: none;
	padding: 0 0.25em;
}
#menu a:visited {
	color: white;
	background-color: #F96;
/* 	border-color: #F96; */
}
#menu a:hover {
	color: white;
	background-color: #6c3;
}

#menu ul {
	padding: 0 0.5em;
	margin: 0.5em 0;
}

#menu li {
	display: inline;
}

#themed {
	font-weight: bold;
}

#unthemed {
}

#content_title {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: solid thin;
	margin-top: -2em;
}

#login {
	text-align: right;
	font-family: sans-serif;
}

#login span {
	color: black;
	background-color: #DDD;
	border: thin dotted black;
	padding: 0.25em 0.5em;
	line-height: 2em;
}

#user_in {
	padding: 0 2px;
	width: 5em;
	border: thin solid black;
}

#pw_in {
	padding: 0 2px;
	width: 5em;
	border: thin solid black;
}

#login_btn {
	border: thin solid black;
}

#mod_time {
	margin: 1em;
	margin-left: 0;
	border-top: dotted thin;
	font-family: sans-serif;
	font-style: italic;
	font-size: 85%;
}

#copyright a {
	color: white;
	background-color: inherit;
}

#copyright p {
	float: left;
	margin: 0;
	padding: 2px 4px;
	text-indent: 0;
}

#icons {
}

#icons ul {
	margin: 0;
	padding: 4px;
	list-style-type: none;
}

#icons ul li {
	display: inline;
}


.note {
	font-style: italic;
	font-size: 80%;
}

.noindent {
	text-indent: 0;
}

}

@media print {

#page-title {
	text-align: left;
}

#menu {
	display: none;
}

#icons {
	display: none;
}

.category {
	page-break-after: auto;
}

}
